<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - National Academy of Kinesiology</title>
    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head", false)
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="~/Content/Site.css" />
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" style="max-height: 70px;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a class="resizeimg; logo-hide" href="@Url.Action("Index", "Home")" style="float:left; margin-right:50px;">
                        <img class="resizeimg;" src="~/Content/Images/HomePage/nak_logo_banner.png" />
                    </a>

                </div>
                <div class="navbar-collapse collapse" style="background-color:white;">


                    <ul style="float:right;" class="nav navbar-nav push-to-menu">

                        @if (Session["username"] != null)
                        {
                            <li>@Html.ActionLink("Hi " + Session["username"].ToString(), "MyProfile", "Backend")</li>
                            <li>@Html.ActionLink("Sign Out", "Logout", "Backend")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Sign In/Register", "Index", "Backend")</li>
                        }



                    </ul>

                    <div class="push-to-menu" style="padding-top:15px; float:right;"><a style="color:#777777;" href="@Url.Action("Index", "ShoppingCart")"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></div>


                </div>
            </div>
            <div class="container nav-2 text-center navbar-collapse collapse" style="color:darkgray; background-color:#424D63; position:relative; z-index:4;">

                @Html.Action("MainMenu", "Menu")

            </div>
        </div>



        <div class="container body-content" style="margin-top:150px;">
            <div class="row">
                @RenderSection("Subheader", false)
                @if (IsSectionDefined("LeftMenu"))
            {
                    <div class="col-md-1"></div>
                    <div class="col-md-2 bold-font mobile-hide">
                        @RenderSection("LeftMenu", false)
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                }
                else if (IsSectionDefined("BackMenu"))
                {

                    <div class="col-md-2 bold-font">
                        @RenderSection("BackMenu", false)
                    </div>
                    <div class="col-md-10">
                        @RenderBody()
                    </div>
                }

                else
                {
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                }

            </div>
            <footer>
                <div style="margin-top: 5px;">
                    <div style="padding:5px; background-color:#424D63; text-align:center;">

                        <p style="color:white; margin-bottom: 0px;">
                            @Html.ActionLink("Contact Us", "Contact", "Home", new { @style = "color:white;" })&nbsp;&nbsp;&nbsp;@Html.ActionLink("Privacy Policy", "Privacy", "Home", new { @style = "color:white;" })
                            &nbsp;&nbsp;&nbsp;@Html.ActionLink("Terms and Conditions", "TermsConditions", "Home", new { @style = "color:white;" }) &nbsp;&nbsp;&nbsp;&copy; @DateTime.Now.Year
                        </p>
                    </div>
                    <div style="text-align:center; padding-top:5px;"><img src="~/Content/Images/AME Logo 20170426_50px.png" /></div>

                </div>

            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
