
@{
    ViewBag.Title = "EditCarousel";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Carousel</h2>

@section BackMenu{
    <div class="left-menu-title">Backend Controls</div>
    <div class="left-menu">

        @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["BackendPages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
        {
            <div class="left-menu-item">@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
        }

    </div>
}

@model List<AKAWeb_v01.Models.CarouselImage>

 
<div class="container">

    @{ int picturecount = 0;}
    @foreach (var image in Model)
    {
        if (picturecount < ViewBag.CarouselImageNumber)
        {
            picturecount++;
            <div class="row" style="border-bottom:solid; margin-bottom:7px;">
                <div class="col-md-3">
                    <img id="user_mg" class="thumbnail" src="@Url.Content(image.url)" />
                </div>
                <div class="col-md-6 form-group">
                    @Html.Label("Carousel Picture " + picturecount.ToString())
                    @using (Html.BeginForm("Upload", "Backend", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        
                        <input type="file" name="file" />
                        @Html.Label("Image " + picturecount.ToString()+" URL")
                        <input class="form-control" type="text" name="link"  value="@image.externalLink" /><br />
                        <button type="submit" name="Submit" id="Submit"  >Submit</button>
                        <input type="hidden" value="@picturecount" name="picnum" />
                    }
                </div>
                @if (picturecount > 3)
                {
                    <div class="col-md-3 form-group">
                        @using (Html.BeginForm("DeleteImage", "Backend", FormMethod.Post))
                        {

                            <button type="submit" name="delete"  >Delete</button>

                            <input type="hidden" value="@picturecount" name="picnum" />
                            
                        }
                    </div>
                }

            </div>

        }


    }
    @if (ViewBag.CarouselImageNumber >= 3 && picturecount < 6)
    {
        <div class="row">
            <div class="md-3">
                @using (Html.BeginForm("ChangeCarouselNumber", "Backend", FormMethod.Post))
                {
                    <input type="submit" value="Add" />
                       

                }

            </div>
        </div>
    }





</div>
