

@{
    ViewBag.Title = "Edit Pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
        function form_submit(x) {
            //document.getElementById("delete_form" + x).submit();
            var url = "/Backend/DeletePage";
            var page_id = x;
            $.post(url, { page_id }, function (data) {

                window.alert("Page succesfully deleted");
                if (!alert("Page succesfully deleted")) { window.location.reload(); }
            
            })
            
    };
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#sectionDropDown").change(function () {

            

            var id = $("#sectionDropDown").val();
            //window.alert(id);
            $.get('/Backend/GetPagesePartialView/'+id, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#pagesBySection').html(data);
                /* little fade in effect */
                //$('#partialPlaceHolder').fadeIn('fast');
            });
             //$("#pagesBySection").load('@Url.Action("GetPagesePartialView", "Backend", new { section_id = 1})');






        });


    });
</script>
    <script>
        $(document).ready(function () {

            $("#sectionDropDown").val(@ViewBag.SectionToShow).change();
            if ($("#sectionDropDown").val() == "0") {

                $("#submitSortSave").hide();

            }



    });
        
    </script>
    
    }

<h2>Edit Pages</h2>

@section BackMenu{
    <div class="left-menu-title">Backend Controls</div>
    <div class="left-menu">

        @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["BackendPages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
        {
            <div class="left-menu-item">@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
        }

    </div>
}
<p style="color:red;" class="page-feedback"><b>@ViewBag.PageAlert</b></p>

@Html.Label("Section:")
<div>@Html.DropDownList("Sections", ViewData["Sections"] as SelectList, new { form = "content_form", @class = "form-control", id = "sectionDropDown" })</div>
<div id="pagesBySection">@Html.Action("GetPagesePartialView", "Backend", new { id = ViewBag.SectionToShow })</div>

