
@{
    ViewBag.Title = "EditCarousel";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditCarousel</h2>
Session: @Session["userpermission"]
Images: @ViewBag.CarouselImageNumber;


<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Number of Images</a></li>
        <li><a data-toggle="tab" href="#menu1">Carousel Images</a></li>
        <li><a data-toggle="tab" href="#menu2">Links for Images</a></li>
        
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Number of images</h3>
            <p>Please set the number of images that will rotate in the carousel</p>
           
            @using (Html.BeginForm("ChangeCarouselNumber", "Backend", FormMethod.Post))
            {
                <fieldset name="number">

                    
                    @Html.DropDownList("CarouselDropdown", ViewData["CarouselDropdown"] as SelectList)<br />
                    <input type="submit" value="Save" />
                </fieldset>
            }

        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Carousel Pictures</h3>
            @for (var i = 1; i - 1 < ViewBag.CarouselImageNumber; i++)
            {
                @Html.Label("Carousel Picture" + i.ToString())
                using (Html.BeginForm("Upload", "Backend", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="file" />
                    <input type="submit" name="Submit" id="Submit" value="Upload" />
                    <input type="hidden" value="@i" name="picnum" />
                }
            }

        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Image links</h3>
            <p>Set URLs of carousel pictures</p>
            @for (var i = 1; i - 1 < ViewBag.CarouselImageNumber; i++)
            {
                @Html.Label("Picture " + i.ToString()+" URL" )
                using (Html.BeginForm("UpdateLinks", "Backend", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="text" name="url" />
                    <input type="submit" name="Submit" id="Submit" value="Save" />
                    <input type="hidden" value="@i" name="picnum" />

                }
            }
        </div>
  
    </div>
</div>


