@model AKAWeb_v01.Models.PageModel

@{
    ViewBag.Title = "EditPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
tinymce.init({
        selector: 'textarea',
        plugins: "image",
        //add call to function to load current images
        image_list: "/Backend/ImageJsonList",
        paste_data_images: true,
        extended_valid_elements: "iframe[src|title|width|height|allowfullscreen|frameborder|class|id]"
    });
</script>
<!--Following script generates the image preview in the subheader image part-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#fileUpload").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();
            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#subheaderimg").attr("src", e.target.result);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    });
</script>
<script type="text/javascript">
     $(document).ready(function () {
         $("#restore").on('click', function () {
             $("#subheaderimg").attr("src", "@Url.Content(Model.subheaderImage)");
        });
    });
</script>
    
    }

<div class="container">
    <h2>Edit Page</h2>
    @section BackMenu{
        <div class="left-menu-title">Backend Controls</div>
        <div class="left-menu">

            @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["BackendPages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
            {
                <div>@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
            }

        </div>
    }
    <div class="row">
        <div>@Html.Label("Page Title")
        <input style="margin-bottom: 10px;" value="@Model.title" form="content_form" type="text" class="form-control" name="title" placeholder="@Model.title" /></div>
        <div><a class="btn" href="javascript:;" onclick="tinymce.execCommand('mceToggleEditor',false,'content');"><span>Toggle to HTML view</span></a> | @Html.ActionLink("Go to image list", "ReturnImageList", null, new { target = "_blank"})</div>
        <div>
            <textarea style="height:500px; max-width:5000px; width:1140px;" name="content" form="content_form">@Model.pageContent</textarea>
        </div>
        @using (Html.BeginForm("EditPage", "Backend", FormMethod.Post, new { id = "content_form", enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="id" value="@Model.id" />
            <div>
                @Html.Label("Subheader Image")
                <div><img class="resizeimg" id="subheaderimg" src="@Url.Content(Model.subheaderImage)" /></div>
                
                <div class="row">
                    <div class="col-md-3">
                        @Html.Label("Upload Image")
                        <input class="form-control" id="fileUpload" type="file" name="file" />
                    </div>
                    <div style="margin-top: 40px;" class="col-md-2"><a href="#" id="restore">Reset Image</a></div>
                </div>

            </div>

            <button type="submit" class="btn btn-default">Save Changes</button>

        }
    </div>
</div>


    

