@model IEnumerable<AKAWeb_v01.Models.PageModel>

@{
    ViewBag.Title = "EditPages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Pages</h2>

@section BackMenu{
    <div class="left-menu-title">Backend Controls</div>
    <div class="left-menu">

        @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["BackendPages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
        {
            <div>@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
        }

    </div>
    }
<p>
    @Html.ActionLink("Create New Page", "CreatePage") |
    @Html.ActionLink("Create New Section", "ListSections")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Title
        </th>
        <th>
            Section
        </th>

        <th>
            Is Live
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.section)
        </td>
        
           @if (item.isLive == true)
           {
            <td>Yes</td>
           }
           else {

               <td>No</td>
           }
            
        <td>
            @Html.ActionLink("Edit", "EditPage", new { id=item.id }, new { target = "_blank" }) |
            @Html.ActionLink("Change Page Section", "ChangePageSection", new { id = item.id }, new { target = "_blank" }) |
            @Html.ActionLink("View Page", "PreviewPage", new { id=item.title }, new { target = "_blank" }) |
            @if (item.isLive == true)
            {
                @Html.ActionLink("Disable Page", "ToggleIsLivePage", new { id = item.id });
            }
            else
            {
                @Html.ActionLink("Publish Page", "ToggleIsLivePage", new { id = item.id });

            }

        </td>
    </tr>
}

</table>
