@model AKAWeb_v01.Models.PageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subheader{

    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-9">
                    <img class="subheader-image resizeimg" src="@Url.Content(Model.subheaderImage)" />
                </div>
                <div class="col-md-3 subheader-span-div resizeimg reziseheigt">
                    <p style="text-align: center;">
                        <span class="subheader-span"> @Model.title </span>
                    </p>

                </div>
            </div>
        </div>


    </div>
    }

@section LeftMenu{
    <div class="left-menu-title">@Model.leftMenuTitle </div>
    <div class="left-menu">
    
        @foreach(string menuitem in Model.leftMenu)
        {
            <div>@Html.ActionLink(menuitem, "Pages", "SubPages", new { id = menuitem }, new { @class = "left-menu-link" })</div>
        }

</div>

  }
<div class="pad-right">
    @Html.Raw(Model.pageContent)
</div>
